@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;900&display=swap');

html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content{
    display:grid;
    
    
}
main{
    padding:20px;
    display:grid;
    justify-content:center;
}
.navigation{
    background:#7AC74F;
    min-height: 100vh;
    display:none;
}

.my-container{
    padding:0;
    min-height: 100vh;
    background-color:#ffffff;
    
}

.header{
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgb(225, 241, 1);
    box-shadow: 2px 2px 10px black;
    margin-bottom: 14px;
    

}
#logoText{
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    color: white;
}
.notes{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    
}
.note{
    font-family: 'Roboto', sans-serif;
    position:relative;
    border: 0px;
    color:white;
    width: 250px;
    height: auto;
    text-align: center;
    box-shadow: 1px 2px 4px 0px #000000;
    text-shadow: 1px 2px 8px black;
   
}
.card img::before{
    content: '';
    height: 100%;
    width: 2px;
    background: black;
    right: 10;
}
.card-title{
    text-shadow: none;
    font-size: 30px;
}
.card img{
    height: 300px;

}
.card-img-overlay{
    height:300px;
    

}
.priority-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px; /* Adjust the width of the priority bar */
    height: 100%;
    background-color: red; /* Adjust the color of the priority bar */
}
#addBtn{
    position: fixed;
    top:551px;
    right: 0px;
    border-radius: 50%;
    padding: 5px;
    background-color:transparent ;
    border: 0;
}
#addBtn:hover{
    top: 540px;
    transition: 0.09s;
}
.addIcon{
    width: 70px;

}
#noteTitle{
    color: white;
    width: 210px;
    border: none;
    background-color: rgba(0, 0, 0, 0.185);
}
#noteInfo{
    color: white;
    max-height: 200px;
    min-height: 100px;
    width: 210px;
    background-color: rgba(0, 0, 0, 0.185);
    border: none;
}
.dropdown-item:hover{
    background-color: rgba(0, 0, 0, 0.164);
}

.formLabelNote{
    font-family: 'Roboto', sans-serif;
}
.headerLabel{
    font-size: 23px;
}
