/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffee04;
    border-radius: 50%;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cab200;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.fade-out {
    animation: fadeOut 0.5s ease forwards;
}

@keyframes shrinkAndDisappear {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
        display: none;
    }
}

.shrink-and-disappear {
    animation: shrinkAndDisappear 0.5s ease forwards;
}


html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content{
    display:grid;
    
    
}
main{
    padding:20px;
    display:grid;
    justify-content:center;
}
.navigation{
    background:#7AC74F;
    min-height: 100vh;
    display:none;
}

.my-container{
    padding:0;
    min-height: 100vh;
    background-color:#ffffff;
    
}

.header{
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgb(225, 241, 1);
    box-shadow: 2px 2px 10px black;
    margin-bottom: 14px;
    

}
#logoText{
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    color: white;
    text-shadow: -1px 3px 4px black;
}
.notes{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    
}
.note{
    font-family: 'Roboto', sans-serif;
    position:relative;
    border: 0px;
    color:white;
    width: 250px;
    height: auto;
    text-align: center;
    box-shadow: 1px 2px 4px 0px #000000;
    text-shadow: 1px 2px 8px black;
    
   
}

.card-title{
    text-shadow: 0px 1px 2px black;
    font-size: 30px;
}
.card-text{
    margin-bottom: auto;
}
.card img{
    height: 300px;

}
.card-img-overlay{
    height:300px;
    display: flex;
    flex-direction: column;
}

.noteButtonIcons{
    position:absolute;
    position: absolute;
    background-color: transparent;
    border-color: #f7ca1000;
    transition: all 0.3s;
}
.priority-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px; /* Adjust the width of the priority bar */
    height: 100%;
    background-color: red; /* Adjust the color of the priority bar */
}
#addBtn{
    position: fixed;
    bottom: 0px;
    right: 0px;
    border-radius: 50%;
    padding: 5px;
    background-color:transparent ;
    border: 0;
}
#addBtn:hover{
    bottom: 10px;
    transition: 0.09s;
}
.addIcon{
    width: 70px;

}
#noteTitle{
    color: white;
    width: 210px;
    border: none;
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 6px;
    
}
.time{
    height: 1px;
}
#noteInfo{
    color: white;
    max-height: 200px;
    min-height: 100px;
    width: 210px;
    background-color: rgba(0, 0, 0, 0.185);
    border: none;
    
}
.dropdown-item:hover{
    background-color: rgba(0, 0, 0, 0.164);
}

.formLabelNote{
    font-family: 'Roboto', sans-serif;
}
.headerLabel{
    font-size: 23px;
    display:block;
}
#removeBtn{
    position:absolute;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 49px;
    height: 33px;
    background-color: transparent;
    border-color: #f7ca1000;
    transition: all 0.3s;
}
#removeIcon, .iconImg{
    width: 100%;
    height: 100%;
    padding: 0px;
}

.noteButtonIcons:hover{
    transform: scale(1.3);
}

#editBtn{
    width: 49px;
    height: 36px;
    right: 16px;
    bottom: 2px;

}
#editIcon{
    width: 100%;
    height: 100%;
}
